@charset "UTF-8";

/* 初期スタイル調整 */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic,"ヒラギノ角ゴ ProN W3","HIragino KaKu Gothic ProN",Arial,"メイリオ" Meiryo, sans-serif;
    color: #806342;
    background-color: #fff;
}


/* 見出しの上下の外余白・行の高さ */
h1,h2 {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
}

/* リンクの文字色や装飾 */
a {
    color: #806342;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
    margin-bottom: lem;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}

/* 画像の最大幅 */
img {
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}

